<h1><%= title %></h1>

<form action="" method="POST">
  <label for="passcode">Enter admin passcode:</label>
  <input type="password" id="passcode" name="passcode" placeholder="admin passcode" class="form-input" required>
  <button class="form-submit">Submit</button>
</form>

<% include errors.ejs %>