<h1><%= title %></h1>

<form action="/sign-up" method="POST">
  <div class="form-field">
    <label for="firstName">First name:</label>
    <input type="text" class="form-input" id="firstName" name="firstName" placeholder="First Name" required="true">
  </div>

  <div class="form-field">
    <label for="lastName">Last name:</label>
    <input type="text class="form-input" id="lastName" name="lastName" placeholder="Last Name" required="true">
  </div>

  <div class="form-field">
    <label for="username">Username (email)</label>
    <input type="text" class="form-input" id="username" name="username" placeholder="email@example.com" required="true">
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" class="form-input" id="password" name="password" placeholder="password" required="true">
  </div>

  <div class="form-field">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-input" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required="true">
  </div>
  
  <button>Submit</button>
</form>

<% if (locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>